@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.site-header {
  box-shadow: 0 24px 40px rgba(22, 28, 45, 0.2);
  z-index: 1;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
  width: 100%;
}

.brandlogo h2 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.42;
}

h2 {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.mainmenu {
  display: flex;
}

.uldefaultsnone {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainmenu .navitem {
  padding: 18px;
  font-size: 15px;
  line-height: 26px;
  cursor: pointer;
}
