main {
  padding-top: 20px;
}

.content {
  display: flex;
  flex-flow: column;
  background-color: transparent;
}

.addCarButton {
  background-color: lightblue;
  border: 1px solid black;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 15px;
  margin: 0 40px 0 auto;
  transition: all 500ms ease-in-out;
  font-weight: 700;
}

.addCarButton:hover {
  transition: all 500ms ease-in-out;
  box-shadow: 0 10px 32px rgba(22, 28, 45, 0.2);
}

.tableVehicle {
  text-align: center;
  margin: 40px 40px 0;
  height: 150px;
}

thead {
  border: 1px solid black;
  background-color: lightblue;
  line-height: 45px;
  font-size: 18px;
}

td {
  line-height: 45px;
  font-size: 16px;
}

.viewlink {
  text-decoration: underline;
  font-weight: 700;
}

.viewlink:hover {
  color: royalblue;
}
