.formBg {
  background-color: lightblue;
  height: 100vh;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 75px 0;
  margin: 0 300px;
  height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

label {
  font-size: 18px;
}

h1,
input,
textarea {
  margin-bottom: 25px;
}

input,
textarea {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding: 5px;
  font-size: 15px;
}

input {
  width: 300px;
}

textarea {
  height: 150px;
  width: 450px;
}

.submitBtn {
  background-color: lightblue;
  border: 1px solid black;
  padding: 15px 45px;
  border-radius: 50px;
  margin: 10px auto;
  transition: all 500ms ease-in-out;
  font-weight: 700;
  width: auto;
}

.submitBtn:hover {
  transition: all 500ms ease-in-out;
  box-shadow: 0 10px 32px rgba(22, 28, 45, 0.2);
  cursor: pointer;
}
