.bg {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.content {
  width: 90vw;
  height: 90vh;
  background-color: white;
  padding: 30px 40px;
  display: flex;
}

.imgSection {
  margin-right: 30px;
}

.mainImg,
.imgList {
  width: 40vw;
  box-shadow: 0 10px 32px rgba(22, 28, 45, 0.2);
}

.imgList {
  display: flex;
  border: 1px solid black;
  height: 15vh;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.detailSection {
  display: flex;
  flex-direction: column;
}
.detailSection > div {
  margin-bottom: 10px;
}

.makeModel {
  font-size: 32px;
  font-weight: 700;
}
